#segment-header {
    background-color: white;
}

#segment-footer > .container {
    background-color: #464c6d;
}


#stripe {

    background: none;
}

#segment-footer {
     background: none;
}


#hl7-search-lnk >img {
    height: 50px;
}


.breadcrumb,
.breadcrumb-item {

     display: unset;
}

.navbar-nav {
    flex-direction: unset;
}

.navbar {
	background-color : #464c6d;
}
.navbar,
.navbar .container,
.navbar .container-fluid,
.navbar .container-xs {

    /*display: table;*/

}

body {
    font-size: 14px;
}




ol,
ul {
    list-style: unset;
}


.dropdown-toggle:after{
    content:  none;

}
/*
a, article, aside, audio, body, div, em, fieldset, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, img, label, li, menu, nav, ol, output, p, section, span, table, tbody, td, tfoot, th, thead, tr, ul, video {
    -webkit-padding-start : unset;
    padding : unset;
}*/

#content > .inner-wrapper, .container > .row > .inner-wrapper {
margin : 10px;
}


#terminologit-search-content-valueset-cld.accordion-group {
    border: none;
  }
  
.accordion-heading .accordion-toggle {
    display: -webkit-inline-box;
    padding: 0px;
    margin-left: 5px;
    position: absolute;
    color: var(--btn-text-color);
  }
  
  .accordion-toggle .gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: all 0.5s;
  }
  .gg-chevron-down::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
  }
  
  .rotate-toggle.gg-chevron-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  